{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/auth_style.css' %}">
<link rel="stylesheet" href="{% static 'css/auth_reset.css' %}">




  <div class="mainContentInner">
    <div class="flexTop">
	<header>
		<ul class="header-menu">
			<li>
				<div id="header-login-wrapper" class="headerButton active">
					<a href="{% url 'registration:login' %}" id="header-login-button">შესვლა</a>
					<span id="header-login-line"></span>
				</div>
			</li>
			<li id="header-register-button" class="headerButton">
        <a class="colorSecond" href="{% url 'registration:registration' %}">რეგისტრაცია </a></li>
		</ul>

		<div id="content-wrapper">
	<form action="{% url 'registration:login'%}" method="POST">
    {% csrf_token %}
    <div class="input_value">
    <label for="email">ელ.ფოსტა</label>
    <i class="iconFn fa-regular fa-envelope"></i>
    {{form.email}}
    {{form.email.errors}}
    <label for="password">პაროლი</label>
    <i class="iconFn fa-solid fa-lock"></i>
    {{form.password}}
    {{form.password.errors}}
	  <input type="hidden" name="next" value="{{ request.GET.next }}"/>
		<button type="submit" id="signin-button">შესვლა</button>

    </div>
  </form>




  {% endblock %}
