{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}


  <div class="">
    <h1>Enjoy with our delicious {{object.name}} !</h1>
    <div class="inside-cont">
      <div class="block">
    <form method="post" action="{% url 'add-customer' %}">
        {% csrf_token %}


      <h1>Name: {{ form.name }}</h1>
      <h2>Price: {{ form.price }}</h2>
      <h2>Quantity: {{ form.quantity }}</h2>


        <button type="submit" class="button">Submit customers</button>
      </form>
    </div>
    <div class="block">
      <img src="{% static 'images/food.png' %}" alt="Food" class="image-customer">
    </div>
    </div>

  </div>

  {% endblock %}
