{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}


  <div class="">
    <header>
      <h1> Create New Customer </h1>
      <img src="{% static 'images/girl.png' %}" alt="Food" class="image-lists">
    <header>

    <div class="inside-cont">
      <div class="block">
    <form method="post" action="{% url 'add-customer' %}">
        {% csrf_token %}


        <div class="form-item">Name: {{ form.first_name }}</div>
        <div class="form-item">Lastname: {{ form.last_name }}</div>
        <div class="form-item">Date of Birth: {{ form.birth_date }}</div>
        <div class="form-item">Status: {{ form.is_active }}</div>
        <div class="form-item">Email: {{ form.email }}</div>


        <button type="submit" class="button">Create customer</button>
      </form>
    </div>

    </div>

  </div>

  {% endblock %}
