{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}


  <div class="">
    <h1>Add your product here! </h1>
    <div class="inside-cont">
      <div class="block">
    <form method="post" action="{% url 'add-product' %}">
        {% csrf_token %}


      <div class="form-item">Name: {{ form.name }}</div>
      <div class="form-item">Price: {{ form.price }}</div>
      <div class="form-item">Quantity: {{ form.quantity }}</div>


        <button type="submit" class="button">Submit Products</button>
      </form>
    </div>
    <div class="block">
      <img src="{% static 'images/food.png' %}" alt="Food" class="image-product">
    </div>
    </div>

  </div>

  {% endblock %}
