{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>{% block title %}Market{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li class="navigator"><a href="{% url 'product-list' %}">Products</a></li>
      <li class="navigator"><a href="{% url 'customers' %}">Customers</a></li>
    </ul>
  </nav>

  <div class="container">
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <div class="sider">
      <div class="form-login">
        Log in
        <form action="" method="post">
          <label>Username : </label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <label>Password : </label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <button type="submit">Login</button>
            <input type="checkbox" checked="checked"> Remember me
            <button type="button" class="cancelbtn"> Cancel</button>
            Forgot <a href="#"> password? </a>
        </form>
      </div>
    </div>

  </div>

  <footer>
    <div>@ Django SCSA</div>
  </footer>

  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
