{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>{% block title %}Market{% endblock %}</title>
</head>
<body>
  <nav>
    <ul>
      <li class="navigator"><a href="{% url 'product-list' %}">Products</a></li>
      <li class="navigator"><a href="{% url 'customers' %}">Customers</a></li>
    </ul>
  </nav>
  <div class="container">
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <div class="sider">
      <h4>Log in</h4>
    </div>
  </div>
  <footer>
    <div>@ Django SCSA</div>
  </footer>
  <script src="main.js"></script>
</body>
</html>
