{% load static %}
{% load bootstrap5 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- <script src="{% static 'js/bundle.js' %}"></script>
<div id="app"></div>
<script>
  ReactDOM.render(
    React.createElement(App.default),
    document.getElementById('app')
  );
</script> -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>{% block title %}Market{% endblock %}</title>
</head>
<body>
  <nav class="row">
    <div class="col-lg-11 col-md-6">
    <ul>
      <li class="navigator"><a href="{% url 'index' %}">Home</a></li>
      <li class="navigator"><a href="{% url 'product-list' %}">Products</a></li>
      <li class="navigator"><a href="{% url 'customer-list' %}">Customers</a></li>
    </ul>
   </div>

    <div class="dropdown col-lg-1 col-md-1">
      <button class="btn btn-dark dropdown-toggle dropdown-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        😊
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

        <li><a class="dropdown-item" href="{% url 'registration:login' %}">Log in</a></li>
        <!-- <li><a class="dropdown-item" href="{% url 'registration:logout' %}">Log out</a></li> -->
      </ul>
    </div>

  </nav>

  <div class="container">
    <main class="container1">
      {% block content %}

        {% if messages %}
        <div class="alert alert-warning newerrorhello" role="alert">
          <ul class="messages">

          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          </ul>

        </div>
        {% endif %}
      {% endblock %}
    </main>

  </div>

  <footer>
    <div>@ Django SCSA</div>
  </footer>



  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
