
{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}


  <header>
    <h1>Customers </h1>
    <img src="{% static 'images/girl.png' %}" alt="Food" class="image-lists">
  <header>
  <div class="table">
    <div class="row1">
      <div class="col"><h5>ID</h5></div>
      <div class="col"><h5>First Name</h5></div>
      <div class="col"><h5>Last Name</h5></div>
      <div class="col"><h5>Birth Date</h5></div>
      <div class="col"><h5>Status</h5></div>
      <div class="col"><h5>Email</h5></div>
      <div class="col"><h5>Show</h5></div>
      <div class="col"><h5>Edit</h5></div>
      <div class="col"><h5>Delete</h5></div>
    </div>

    {% for customer in customer_list %}
    <div class="row">
      <div class="col"><p>{{customer.id}}</p></div>
      <div class="col"><p>{{customer.first_name}}</p></div>
      <div class="col"><p>{{customer.last_name }}</p></div>
      <div class="col"><p>{{customer.birth_date}}</p></div>
      <div class="col"><p>{{customer.is_active}}</p></div>
      <div class="col"><p>{{customer.email}}</p></div>
      <div class="col">
        <a href="{% url 'customer' customer.id %}">Open</a>
    </div>
    <div class="col">
      <a href="{% url 'edit-customer' customer.id %}" >Edit</a>
    </div>
    <div class="col">
        <form method="POST" action="{% url 'delete-customer' customer.id %}" id="delete-form">
          {%csrf_token%}
          <button class="edit-btn" onclick="return ConfirmDelete()">Delete</button>
        </form>
    </div>
  </div>

  {% endfor %}
  <a href="{% url 'add-customer' %}">Add customer</a>

{% endblock %}
