{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}



      <header>
        <h1>We have the best quality market, choose your product and enjoy! </h1>
        <img src="{% static 'images/food-g.png' %}" alt="Food" class="image-lists">
      <header>
      <div class="table">

        <div class="row">
          <div class="col"><h4>ID</h4></div>
          <div class="col"><h4>Name</h4></div>
          <div class="col"><h4>Price</h4></div>
          <div class="col"><h4>Quantity</h4></div>
          <div class="col">
              <a href="{% url 'product-list' %}">Product List</a>
          </div>
        </div>

        {% for product in object_list %}
        <div class="row">
          <div class="col"><p>{{product.id}}</p></div>
          <div class="col"><p>{{product.name}}</p></div>
          <div class="col"><p>{{product.price }}</p></div>
          <div class="col"><p>{{product.quantity}}</p></div>
          <div class="col">
            <a href="{% url 'product' product.id %}">Open product</a>
          </div>
        </div>

      {% endfor %}
    </div>
      <br>
      <br>
      <br>
      <br>

      <p>Still did not find your product? Don't worry. You can write us! </p>
      <br>
      <br>


  {% endblock %}
