{% extends 'base.html' %}

{% block title %}Customers{% endblock %}

{% block content %}
{% load static %}



      <header>
        <h1>We have the best quality market, choose your product and enjoy! </h1>
        <img src="{% static 'images/food-g.png' %}" alt="Food" class="image-lists">
      <header>
      <div class="table">

        <div class="row1">
          <div class="col"><h5>ID</h5></div>
          <div class="col"><h5>Name</h5></div>
          <div class="col"><h5>Price</h5></div>
          <div class="col"><h5>Quantity</h5></div>
          <div class="col"><h5>Open items</h5></div>
          <div class="col"><h5>Edit items</h5></div>
          <div class="col"><h5>Delete items</h5></div>
        </div>

        {% for product in object_list %}
        <div class="row">
          <div class="col"><p>{{product.id}}</p></div>
          <div class="col"><p>{{product.name}}</p></div>
          <div class="col"><p>{{product.price }}</p></div>
          <div class="col"><p>{{product.quantity}}</p></div>
          <div class="col">
            <a href="{% url 'product' product.id %}">Open product</a>
          </div>
          <div class="col">
            <a href="{% url 'edit-product' product.id %}" >Edit product</a>
          </div>
          <div class="col">
            <form method="POST" action="{% url 'delete-product' product.id %}" id="delete-form">
              {%csrf_token%}
              <button class="edit-btn" onclick="return ConfirmDelete()">Delete</button>
            </form>
          </div>
        </div>

      {% endfor %}
      <a href="{% url 'add-product' %}">Add product</a>
    </div>
      <br>
      <br>
      <br>
      <br>

      <p>Still did not find your product? Don't worry. You can write us! </p>
      <br>
      <br>


  {% endblock %}
