{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>
  <div class="container">
    <div class="inside-cont">
      <div class="block">
      <h1>{{ name }}</h1>
      <h2>Price: {{ price }}</h2>
      <h2>Quantity: {{ quantity }}</h2>

      <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="button">All Products</button>
      </form>
    </div>
    <div class="block">
      <img src="{% static 'images/food1.png' %}" alt="Food" class="image">
    </div>
    </div>

  </div>

</body>
</html>
