 .container {
  text-align: center;
  background-color: seashell;
}

.logo {
  height: 150px;
  padding: 10px;
  pointer-events: none;
}


.navigator{
  display: inline-block;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

.navigator:hover {
  background-color:blueviolet;
}

.navigator a{
  color: white;
  text-decoration: none;
  font-size: larger;
  padding: 10px;
}

.navigator a:hover{
  color: white;
}
